/* Global */
:root {
  /* Color */
  --color-black: #191c1c;
  --color-grey: #6f7977;
  --color-light-grey: #dae5e2;
  --color-bluegrey: #47617a;
  --color-green: #006a63;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-yellow: #fad05c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/*Global Tag*/
body {
  font-family: 'Yeon Sung', cursive;
  margin: 0;
  font-size: var(--font-regular);
}

ul {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

/* Title */
#title {
  background-image: url(./images/title-background.png);
  background-color: #63bfb6;
  text-align: center;
  font-size: var(--font-large);
  color: var(--color-black);
  padding: 10px;
}

/* Main */
#main {
  background-color: var(--color-light-grey);
  width: 80%;
  margin: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-grey);
  border-radius: var(--size-border-radius);
}

#main span {
  display: block;
  text-align: center;
}

.main__help-btn {
  font-size: var(--font-micro);
  padding: 5px;
  border: 1px solid var(--color-grey);
  border-radius: 100%;
}

/* Rules */
#rules {
  background-color: lightgreen;
}
